{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load chartit %}


{% block cssadd %}
 <script src="{% static "js/highcharts.js" %}"></script>
 <script src="{% static "js/jquery.min.js" %}"></script>
{% endblock %}


{% block content %}
<!-- As a link -->
<form method="post" > {% csrf_token %}
 <div class="container">
  <nav class="navbar navbar-default">
      <p class="navbar-text navbar-right">   </p>
       <a href="{% url "obtain_new_chart_data" %}" class="btn btn-default navbar-btn navbar-right" >{% trans 'Obtain new data' %}</a>
      <p class="navbar-text navbar-right">   </p>
      <button type="submit" class="btn btn-default navbar-btn navbar-right">{% trans 'Refresh' %}</button>
      <p class="navbar-text navbar-right"> </p>
      <p class="navbar-text navbar-right">  {{ form.filter_choice}} </p>
      <p class="navbar-text navbar-right">{% trans 'Records' %}</p>
      <p class="navbar-text navbar-left"><a href="{% url "osd_stats" %}" class="navbar-link">OSDs</a></p>
      <p class="navbar-text navbar-left"><a href="{% url 'osd_chart' %}" class="navbar-link">{% trans 'OSDs stats' %}</a></p>
      <p class="navbar-text navbar-left"><a href="{% url "generation_chart" %}" class="navbar-link">{% trans 'GA stats' %}</a></p>
  </nav>
</div>
        
        {% include "messages.html" %}


 <div class="container">
{{ charts|load_charts:"container_0" }}
<div id="container_0">
</div>
    <div class="modal-footer">
    </div>

 </div>
{% endblock %}
